# System Keys
NEXT_PUBLIC_REDIRECT_PAGE=/overview
NEXT_PUBLIC_SIGN_IN_ACTIVE=true
NEXT_PUBLIC_SIGN_UP_ACTIVE=true

# Convex Keys
NEXT_PUBLIC_CONVEX_URL=
CONVEX_DEPLOY_KEY= # Only in Production

# Clerk Keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/overview
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/overview

# Sentry Keys
SENTRY_AUTH_TOKEN=
NEXT_PUBLIC_SENTRY_DSN=

# Trigger Keys
TRIGGER_SECRET_KEY=
TRIGGER_ACCESS_TOKEN= # Only in Production

# Tldraw Keys
NEXT_PUBLIC_TLDRAW_LICENSE_KEY=

# AI Keys
OPENAI_API_KEY=
MISTRAL_API_KEY= # Free Key - Just as Fallback
