@layer base {
  /* Scrollbar */
  * {
    scrollbar-width: thin;
    scrollbar-color: #171717 transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #171717;
    border-radius: 999px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #444444;
  }
}
