# System Keys
NEXT_PUBLIC_VIDEO_URL=
NEXT_PUBLIC_CLIENTS_URL=

# Convex Keys
NEXT_PUBLIC_CONVEX_URL=

# Gamma Keys
NEXT_PUBLIC_GAMMA_URL=

# Calcom Keys
NEXT_PUBLIC_CALCOM_URL=

# OpenPanel Keys
NEXT_PUBLIC_OPENPANEL_API_URL= # Only in Production
NEXT_PUBLIC_OPENPANEL_CLIENT_ID= # Only in Production
OPENPANEL_CLIENT_SECRET= # Only in Production
