# System Keys
NEXT_PUBLIC_REDIRECT_PAGE=/overview
NEXT_PUBLIC_SIGN_IN_ACTIVE=true
NEXT_PUBLIC_SIGN_UP_ACTIVE=true
NEXT_PUBLIC_ORG_SELECTION_URL=/org-selection

# Convex Keys
NEXT_PUBLIC_CONVEX_URL=

# Clerk Keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/overview
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/overview

# Sentry Keys
SENTRY_AUTH_TOKEN=
NEXT_PUBLIC_SENTRY_DSN=
